{% extends 'base.html' %}
{% load static %}
{% block title %} {{exam.title}} {% endblock title %}

{% block content %}

<div class="container p-3">
    <div class="">
        <h2>{{ exam.title }}</h2>
        <form method="post" action="{% url 'exam' exam.id %}">
            {% csrf_token %}
            <div class="slider">
                {% for question in exam.question_set.all %}
                    <div class="slide">
                        <p>Câu hỏi: {{ question.question_text }}</p>

                        <input type="hidden" name="question_{{ question.id }}" value="">
                        {% for answer in question.answer_set.all %}
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                                <label class="form-check-label">
                                    {{ answer.answer_text }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            
            <div class="controls">
                <button type="button" class="btn btn-dark" onclick="prevSlide()">
                    Prev
                </button>
                <button type="button" class="btn btn-primary" onclick="nextSlide()">
                    Next
                </button>
                <button class="btn btn-success" type="submit">Nộp bài</button>
            </div>
        </form>
    </div>
    
    <!-- <video style="position: absolute; top: 50px;right: 100px;width: 200px;height: 200px;" id="videoElement" autoplay muted></video> -->

    <script>
        // // Yêu cầu quyền truy cập camera
        // navigator.mediaDevices.getUserMedia({ video: true })
        //     .then(function(stream) {
        //         var video = document.getElementById('videoElement');
        //         video.srcObject = stream;
    
        //         // Thiết lập WebRTC và gửi video đến server
        //         startStreamingToServer(stream);
        //     })
        //     .catch(function(err) {
        //         console.log("Something went wrong!", err);
        //     });
    
        // function startStreamingToServer(stream) {
        //     // Thiết lập WebSocket để truyền video đến server
        //     const ws = new WebSocket("ws://127.0.0.1:8000/stream");
    
        //     ws.onopen = () => {
        //         console.log("WebSocket kết nối thành công!");
        //         const mediaRecorder = new MediaRecorder(stream, {
        //             mimeType: 'video/webm;codecs=vp9'
        //         });
    
        //         mediaRecorder.ondataavailable = function(event) {
        //             if (event.data.size > 0) {
        //                 ws.send(event.data);
        //             }
        //         };
    
        //         mediaRecorder.start(100); // Gửi mỗi 100ms
        //     };
    
        //     ws.onerror = (error) => {
        //         console.log("Lỗi WebSocket:", error);
        //     };
    
        //     ws.onclose = () => {
        //         console.log("Kết nối WebSocket đã đóng.");
        //     };
        // }

        // Gửi frame đến server mỗi 1 giây
        function sendFrameToServer(frameData) {
            fetch('/monitoring/upload_frame', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ frame: frameData }),
            }).catch(error => console.log("Error:", error));
        }

        async function startStream() {
            const video = document.createElement('video');
            const stream = await navigator.mediaDevices.getUserMedia({ video: true });
            video.srcObject = stream;
            video.play();

            const canvas = document.createElement('canvas');
            const context = canvas.getContext('2d');

            setInterval(() => {
                context.drawImage(video, 0, 0, canvas.width, canvas.height);
                const frameData = canvas.toDataURL('image/jpeg');
                sendFrameToServer(frameData);
            }, 41); // Gửi mỗi giây một frame
        }

        startStream();

    </script>
</div>

{% endblock content %}