{% extends 'base.html' %}
{% load static %}
{% block title %} Trang chủ {% endblock title %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="#">Cuongcon</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Giới thiệu</a>
          </li>
        </ul>
        {% if request.user.is_authenticated %}
          <span class="text-white" style="margin-right: 8px;">{{request.user.username}}</span>
          <a href="{% url 'logout' %}" class="btn btn-outline-success">Đăng xuất</a>
        {% else %}
          <a class="btn btn-outline-success" href="{% url 'login' %}">Đăng nhập</a>
        {% endif %}
      </div>
    </div>
</nav>

<div class="container p-3 row" style="margin: 0 auto;">
  {% for exam in exams %}
    <a class="card mb-3 col-6 nav-link p-3" href="{% url 'exam' exam.id %}">
      <div class="">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'assets/images/laboratory.png' %}" class="img-fluid rounded-start" alt="{{exam.title}}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{exam.title}}</h5>
              <p class="card-text">{{exam.title}} - 15 câu hỏi (có đáp án)</p>
              <p class="card-text"><small class="text-body-secondary">Ngày tạo: {{exam.created_at|date:"d/m/Y"}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </a>
  {% endfor %}
</div>

{% endblock content %}